<div class="ti-slider uk-container uk-container-expand">
    <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider="center: true; autoplay: true; autoplay-interval: 3000;">
        <div class="uk-slider-items">
            {{ range .Resources.ByType "image" }}
                    <img class="ti-slider-image" src="{{ .RelPermalink }}"  alt="">
            {{ end }}
        </div>
        <a uk-slider-item="previous"><img 
            src='{{ (resources.Get "images/left-icon.svg").RelPermalink }}' 
            alt="open-modal" 
            uk-img
            class="ti-round-button ti-left-button"
        ></a>
        <a uk-slider-item="next" ><img 
            src='{{ (resources.Get "images/right-icon.svg").RelPermalink }}' 
            alt="open-modal" 
            uk-img
            class="ti-round-button ti-right-button"
        ></a>
        <div class="ti-grey-filter ti-filter-left"></div>
        <div class="ti-grey-filter ti-filter-right"></div>
    </div>
</div>